* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Raleway';
    font-size: 14px;
    letter-spacing: 2px;
}

.imagen {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 10px;
}

.button-pedir{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navegacion nav ul li:hover {
    background: #565656;
}

.navegacion {
    width: 100%;
}

.navegacion nav {
    width: 100%;
    background: #E86611;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.navegacion nav ul {
    list-style: none;
    position: relative;
}

.navegacion nav>ul>li {
    display: inline-block;
}

.navegacion nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.navegacion nav>ul>li>a span {
    font-size: 20px;
    position: absolute;
    bottom: -8px;
    display: none;
}

.navegacion nav>ul>li:hover span {
    display: block;
}

footer {
    font-family: 'Jomolhari', serif;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    background: #E86611;
}

footer span {
    font-size: large;
}

#ss {
    margin-top: 15px;
}

#ft {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.main {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Raleway';
    color: #333231;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.columnas {
    font-size: 10px;
}

