.contenedor-form {
    background: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.contenedor-form input {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(104, 104, 104, 0.5);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    transition: all .5s ease;
}

.contenedor-form input:focus {
    border-bottom: 4px solid #333231;
}

.contenedor-form button[type="submit"] {
    background: #E86611;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form button[type="submit"]:hover {
    background: #E86611;
}
