{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    
    <link rel="stylesheet" href="{% static 'css/cuenta.css' %}">
    
{% endblock %}

{% block content %}
 

        <div class="contenedor-form">
            <div class="toggle">
                <span> Iniciar sesion</span>
            </div>
    
            <div class="formulario">
                
                <h2>Crea tu Cuenta</h2>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <input for="username"type="text" placeholder="Nombre de Usuario" name="username">
                        <input for="username"type="text" placeholder="Nombre" name="first_name">
                        <input for="username"type="text" placeholder="Apellido" name="last_name">
                        <input for="username"type="email" placeholder="email" name="email">
                        <input for="username" type="password" placeholder="Contraseña" name="password1">
                        <input for="username" type="password" placeholder="Confirme Contraseña" name="password2">
                        <input type="submit" value="Registrarse">
                    </form>
            </div>
        </div>
{% endblock %}
