{% extends 'base/base.html' %}
{% load staticfiles %}
{% block head %}
    
    <link rel="stylesheet" href="{% static 'css/cuenta.css' %}">
    
{% endblock %}

{%block header %}
{% endblock %}
{% block content %}
<div class="contenedor-form">
    <div class="toggle">
        <a href="/Registro/registrar"> Crear Cuenta</a>
    </div>

    <div class="formulario">
        <h2>Iniciar Sesión</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <input for="username"type="text" placeholder="Usuario" name="username">
            <input for="username" type="password" placeholder="Contraseña" name="password">
            <input type="submit" value="Iniciar Sesión" name="Ingresar">
        </form>
        <div class="reset-password">
            <a href="{% url 'password_reset' %}">Olvide mi Contraseña?</a>
        </div>
    </div>
</div>
{% endblock %}