{% extends 'base/base.html' %}
{% load staticfiles %}


{% block content %}
<section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs">
                    <h1>Alimentos para Gatos</h1>
                </div>
            </div>
            <div class="row center-xs between-xs">

                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/MininosSalmon20Kg.jpg' %}" alt="">
                        <h2 class="h3-sect">Mininos Salmon 20 KG</h2>
                        <h2>$14.800</h2><br>
                    </div>
                </section>
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/ChampionCatPollo8kg.jpg' %}" alt="">
                        <h2 class="h3-sect">Champion Cat Aduto Pollo 8 KG</h2>
                        <h2>$13.900</h2><br>
                    </div>
                </section>
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/CatshowAdultosCarne8KG.jpg' %}" alt="">
                        <h2 class="h3-sect">CatChow Adulto Carne 8 KG</h2>
                        <h2>$21.000</h2><br>
                    </div>
                </section>
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/WhiskasCarne10kg.jpg' %}" alt="">
                        <h2 class="h3-sect">Whiskas Carne 10 KG</h2>
                        <h2>$21.500</h2><br>
                    </div>
                </section>
            </div>
            <div class="row center-xs between-xs">
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/LataFelixPatePescaAtun156gr.jpg' %}" alt="">
                        <h2 class="h3-sect">Lata Feliz Pescado 156gr</h2>
                        <h2>$14.800</h2><br>
                    </div>
                </section>
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/LataFelixTrocitosPollo156gr.jpg' %}" alt="">
                        <h2 class="h3-sect">Lata Felix Trocitos Pollo 156gr</h2>
                        <h2>$13.900</h2><br>
                    </div>
                </section>
                <section class="imagenes columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/WhiskasSobrePollo85grs.jpg' %}" alt="">
                        <h2 class="h3-sect">Whiskas Sobre Pollo 85gr</h2>
                        <h2>$21.000</h2><br>
                    </div>
                </section>
                <section class="imagenes  columnas col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <img src="{% static 'img/WhiskasSobreSardina85grs.jpg' %}" alt="">
                        <h2 class="h3-sect">Whiskas Sobre Sardina 85gr</h2>
                        <h2>$21.500</h2><br>
                    </div>
                </section>
            </div>
        </div>
        <span class="button_pedir">
                <button>
                        <a href="/Producto/nuevo">Pide tu Producto</a>
                </button>
        </span>

    </div>
</section>
{% endblock %}